.anunciantes_destacados{
    .anunciantes_destacados_title{
        @apply text-center;

    }
    .anunciantes_destacados_card{
        ul{
            @apply w-full grid gap-2
            grid-cols-2 md:grid-cols-4;
            li{
                @apply relative flex flex-col justify-between bg-white rounded-xl border border-gray_200;
                .card_body{
                    @apply p-4 h-full;
                    img{
                        @apply rounded-full object-cover aspect-square max-w-20 lg:max-w-24 mx-auto border border-gray_200 mb-4;
                    }
                    .anunciantes_destacados_card_content{
                        @apply flex flex-col flex-1 gap-2 justify-between items-center text-center;
                        .header{
                            @apply flex flex-col items-center w-full;
                            h5{
                                @apply overflow-hidden line-clamp-2;
                            }
                            h6{
                                @apply py-1 z-[1];
                            }
                            .truncate-text{
                                @apply max-w-[110px] lg:max-w-[180px];
                            }
                        }
                        p{
                            @apply line-clamp-2 text-gray_500 text-xs lg:text-sm;
                        }
                        
                    }
                }
                .footer{
                    @apply flex flex-col;
                }
            }
        }
    }
}