// VISTA DE LISTADO DE  ARTICULOS
.article-index{
    @apply my-12 md:my-14;
    .article_index_hero{
        @apply flex justify-center py-12 lg:py-6;
        h2{
            @apply text-center
        }
    }
    .filter_categories{
        @apply flex flex-col gap-2 lg:gap-4 text-text_small lg:text-xs ;
        ul{
            @apply flex flex-col gap-2 lg:pr-8;
            li{
                @apply uppercase text-text_small tracking-wide text-gray_600 border-b pb-2;
            }
            li.active{
                @apply text-primary;
            }
            li:last-child{
                @apply border-none;
            }
        }
    }
    .filter_tags{
        @apply flex flex-col gap-4 text-text_small lg:text-xs;
        ul{
            @apply flex flex-row flex-wrap gap-2;
            li{
                @apply w-auto;
            }
            li.active{
                @apply font-bold bg-primary text-secondary;
            }
        }
    }
    .filter_categories, .filter_tags{
        @apply mt-4 lg:mt-0;
    }
    .article-list{
        @apply h-fit lg:w-3/4 grid grid-cols-2 lg:grid-cols-4 gap-4 relative;
        .article_card{
            @apply flex flex-col rounded-lg border border-gray_200 h-auto;
            img{
                @apply aspect-video object-cover rounded-t-lg;
            }
            .categories_badges{
                @apply flex gap-2;
                .category_badge{
                    @apply bg-gray_50 border border-primary rounded-full p-1 fill-white;
                    img{
                        @apply aspect-square border-none w-4 fill-white;
                    }
                }
            }
            .footer{
                @apply px-2 pb-4 flex flex-col gap-4;
                    span{
                        @apply hidden;
                    }
                    p{
                        @apply text-xs text-gray_600 tracking-wide;
                    }
                    svg{
                        @apply fill-gray_600;
                    }
            }
        }
    }
    .cursor-pointer {
        cursor: pointer;
      }
      .active {
        @apply font-bold text-primary
      }
      
      /* Spinner */
      .spinner-overlay {
        @apply flex items-center justify-center bg-white/80 h-full w-full left-0 top-0 fixed z-50;
      }
      
      .spinner {
        @apply border-8 border-black/10 rounded-full border-t-primary h-16 w-16;
        animation: spin 1s linear infinite;
      }
      
      @keyframes spin {
        to {
          transform: rotate(360deg);
        }
      }
    
    /* Aplicar opacidad reducida al listado de  articulos mientras carga */
    .loading-opacity {
        @apply opacity-20;
    }
}
// FIN VISTA DE  ARTICULOS
// VISTA DE  ARTICULO INDIVIDUAL
#article-view{
    .article{
        @apply relative flex flex-col mb-16;
        h4{
            @apply text-secondary
        }
        .custom-scrollbar::-webkit-scrollbar {
            @apply w-1;
        }
        
        .custom-scrollbar::-webkit-scrollbar-track {
            @apply bg-transparent;
        }
        
        .custom-scrollbar::-webkit-scrollbar-thumb {
            @apply bg-gray-200 rounded-md;
        }
        
        .custom-scrollbar::-webkit-scrollbar-button {
            @apply hidden;
        }
        .article_header{
            @apply h-full gap-6 transition-all duration-300 max-h-[calc(100vh-4rem)] overflow-y-auto
            flex flex-col
            md:flex-row md:items-start
            lg:sticky lg:flex-col;
            .article_tags{
                @apply flex flex-col gap-2 bg-white rounded-xl;
            }
            .author{
                @apply flex flex-col gap-2 bg-white rounded-xl;
                img{
                    @apply max-w-12 aspect-square object-cover rounded-full;
                }
                h5{
                    @apply text-sm font-medium;
                }
                p{
                    @apply text-xs text-gray_500;
                }
            }
            .article_rrss{
                @apply flex flex-col gap-4 bg-white rounded-xl;
                .article-social-icons{
                    @apply flex gap-4;
                    a{
                        @apply bg-gray-100 p-1 md:p-2 rounded-md;
                        svg{
                            @apply w-4 md:w-6 h-4 md:h-6 fill-secondary;
                        }
                    }
                }
            }
            h2{
                @apply text-center md:text-left;
            }
        }
        .article_img{
            @apply relative w-auto aspect-video object-cover md:max-w-64 rounded-xl;
        }
        .article_body{
            @apply w-full lg:w-4/6 flex flex-col gap-6 bg-white rounded-xl;
            h5{
                @apply text-sm font-bold;
            }
            span{
                @apply text-xs lg:text-sm;
            }
            .article_gallery{
                @apply flex flex-col gap-4;
                ul li{
                    img{
                        @apply aspect-square object-cover;
                    }
                }
                #article_lightbox{
                    img{
                        @apply max-h-full;
                    }
                }
    
            }
            .article_description{
            }
        }
        .lightbox {
            @apply fixed top-0 left-0 w-full h-full bg-black/80 flex justify-center items-center;
            z-index: 1000;
        }
    }
}
// FIN VISTA DE  ARTICULO INDIVIDUAL