// VISTA DE LISTADO DE  ARTICULOS
.article-index{
    @apply my-12 md:my-14;
    .articles_list{
        @apply grid grid-cols-2 lg:grid-cols-4 gap-x-4 gap-y-8 relative w-full overflow-x-hidden box-border;
        a:hover{
            p{
                @apply text-gray_500;
            }
        }
        .article_card{
            @apply relative flex flex-col gap-2 p-2 justify-between bg-white rounded-xl shadow-lg hover:bg-gray-50 transition-all duration-300;
            img{
                @apply w-full h-auto object-cover rounded-lg aspect-[4/3];
            }
            h4{
                @apply text-base bg-white;
            }
            p{
                @apply text-gray_500 text-xs;
            }
        }
    }
    
    
}
// FIN VISTA DE  ARTICULOS
// VISTA DE  ARTICULO INDIVIDUAL
#article-view{
    .article{
        @apply relative flex flex-col mb-16;
        h4{
            @apply text-secondary
        }
        .custom-scrollbar::-webkit-scrollbar {
            @apply w-1;
        }
        
        .custom-scrollbar::-webkit-scrollbar-track {
            @apply bg-transparent;
        }
        
        .custom-scrollbar::-webkit-scrollbar-thumb {
            @apply bg-gray-200 rounded-md;
        }
        
        .custom-scrollbar::-webkit-scrollbar-button {
            @apply hidden;
        }
        .article_header{
            @apply h-full gap-6 transition-all duration-300 max-h-[calc(100vh-4rem)] overflow-y-auto
            flex flex-col
            md:flex-row md:items-start
            lg:sticky lg:flex-col;
            .author{
                @apply flex flex-col gap-2 bg-white rounded-xl;
                img{
                    @apply max-w-12 aspect-square object-cover rounded-full;
                }
                h5{
                    @apply text-sm font-medium;
                }
                p{
                    @apply text-xs text-gray_500;
                }
            }
            .article_rrss{
                @apply flex flex-col gap-4 bg-white rounded-xl;
                .article-social-icons{
                    @apply flex gap-4;
                    a{
                        @apply bg-gray-100 p-1 md:p-2 rounded-md;
                        svg{
                            @apply w-4 h-4 fill-secondary;
                        }
                    }
                }
            }
            h2{
                @apply text-center md:text-left;
            }
        }
        .article_img{
            @apply relative w-auto aspect-video object-cover md:max-w-64 rounded-xl;
        }
        .article_body{
            @apply w-full lg:w-4/6 flex flex-col gap-6 bg-white rounded-xl;
            h5{
                @apply text-sm font-bold;
            }
            span{
                @apply text-xs lg:text-sm;
            }
            .article_tags{
                @apply flex flex-col gap-2 bg-white rounded-xl;
            }
            .article_gallery{
                @apply flex flex-col gap-4;
                ul li{
                    img{
                        @apply aspect-square object-cover;
                    }
                }
                #article_lightbox{
                    img{
                        @apply max-h-full;
                    }
                }
    
            }
            .article_description{
                @apply p-4 rounded-lg bg-gray-50 w-full lg:w-fit text-gray-500;
                ul{
                    @apply list-disc pl-8 text-sm;
                }
            }
        }
        .lightbox {
            @apply fixed top-0 left-0 w-full h-full bg-black/80 flex justify-center items-center;
            z-index: 1000;
        }
    }
}
// FIN VISTA DE  ARTICULO INDIVIDUAL