#categories{
    .categories{
        @apply flex flex-col gap-6 absolute top-[60%] md:top-[45%] lg:top-1/2 left-1/2 bg-white shadow-lg rounded-2xl -translate-x-1/2 lg:translate-y-1/2 p-6 max-w-[95%] lg:max-w-screen-lg;
        .categories_title{
            @apply flex justify-between items-center;
        }
        .categories_content{
            ul{
               @apply flex; 
                li{
                    a{
                        @apply flex flex-col items-center gap-2 w-full h-full;
                        p{
                            @apply text-xs text-center font-normal text-gray_500;
                        }
                        img{
                            @apply w-8 h-auto;
                        }
                    }
                } 
            }
        }
    }
}

.categories_index{
    .search_hero{
        @apply h-[50vh];
        h1, p{
            @apply hidden;
        }
        .search_hero_container{
            @apply mb-0;
        }
    }
    .categories_index_hero{
        @apply flex justify-center py-12;
    }
    
    .masonry {
        @apply columns-1 md:columns-2 lg:columns-3 gap-12;
        .item{
            @apply inline-block bg-white w-full mb-12 rounded-2xl;
            .item_header{
                @apply flex rounded-t-2xl justify-between bg-primary/50 p-6 gap-2 items-center;
                img{
                    @apply h-10 w-auto;
                }
            }
            ul{
                @apply p-6;
                li{
                    @apply border-t-gray_200 border-t py-4;
                }
                li:first-child{
                    @apply border-t-transparent pt-0;
                }
                li:last-child{
                    @apply pb-0;
                }
            }
        }
      }
    
}

.category_view{
    // .category_view_header{
    //     @apply py-8 lg:py-6 bg-gray_100 mb-10;
        
    //     p{
    //         @apply text-gray_400 text-small hover:text-primary;
    //     }
    // }
    .btn-filtro{
        @apply bg-white;
    }
    .modal-wrapper, .modal-wrapper-product-contact{
        @apply fixed inset-0 z-50 pointer-events-none;
    }
    .modal-overlay, .modal-overlay-product-contact {
        @apply top-0 left-0 w-full h-full bg-black bg-opacity-50 flex justify-center items-end md:items-center z-50;
      }
      
      .modal-content {
        @apply fixed bottom-0 md:bottom-1/2 md:translate-y-1/2 left-0 right-0 bg-white rounded-t-xl md:rounded-xl shadow-lg pt-6 pb-12 px-6 h-auto max-h-[85vh] max-w-screen-sm overflow-visible z-[100] mx-auto pointer-events-auto;
      }
      
      /* Ajuste extra por si el contenedor principal tiene un z-index alto */
      .container {
        position: relative;
        z-index: 1;
      }
    .category_view_product_list{
    }

    /* Animación del fondo contacto (overlay) */
    .overlay-fade-product-contact-enter-active,
    .overlay-fade-product-contact-leave-active {
    transition: opacity 0.3s ease;
    }

    .overlay-fade-product-contact-enter-from,
    .overlay-fade-product-contact-leave-to {
    opacity: 0;
    }

    .overlay-fade-product-contact-enter-to,
    .overlay-fade-product-contact-leave-from {
    opacity: 1;
    }

    /* Animación del fondo (overlay) */
    .overlay-fade-product-contact-enter-active,
    .overlay-fade-product-contact-leave-active {
    transition: opacity 0.3s ease;
    }

    .overlay-fade-product-contact-enter-from,
    .overlay-fade-product-contact-leave-to {
    opacity: 0;
    }

    .overlay-fade-product-contact-enter-to,
    .overlay-fade-product-contact-leave-from {
    opacity: 1;
    }

    /* Animación del contenido (modal-content) */
    .modal-slide-up-enter-active,
    .modal-slide-up-leave-active {
    transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .modal-slide-up-enter-from,
    .modal-slide-up-leave-to {
    opacity: 0;
    transform: translateY(100%)
    }

    .modal-slide-up-enter-to,
    .modal-slide-up-leave-from {
    opacity: 1;
    transform: translateY(0)
    }
    @media (min-width: 768px) {
        .modal-slide-up-enter-to,
        .modal-slide-up-leave-from {
            transform: translateY(50%);
        }
    }

}