.como-usar-la-guia, .cookie-policy, .terms-and-conditions{
    ul li{
        @apply list-disc ml-16 text-sm;
    }
}

.un-poco-de-historia{
    .timeline-dot {
        @apply w-5 h-5 bg-white border-4 border-primary rounded-full z-10;
    }
}