// VISTA DE LISTADO DE PRODUCTOS
#product-index{
    .product_index_hero{
        @apply flex justify-center mt-14 py-12 lg:py-6;
        h2{
            @apply text-center
        }
    }
    .product-list{
        @apply py-12;
        .error {
            @apply text-red-600;
        }
          
        .active-category {
            button{
                @apply bg-primary text-white;
            }
        }
        .card-buttons{
            span{
                @apply hidden lg:block;
            }
        }
        .divider-product_list{ 
            @apply border-t-gray_300;
        }
        
        .spinner-overlay {
            @apply absolute top-32 md:top-16 left-1/2 -translate-x-1/2 z-10;
        }
        
        .spinner {
            @apply w-10 h-10 border-4 border-solid border-black/20 border-t-primary rounded-full;
            animation: spin 0.8s linear infinite;
        }
        
        @keyframes spin {
            to {
                transform: rotate(360deg);
            }
        }
        
        /* Aplicar opacidad reducida al listado de productos mientras carga */
        .loading-opacity {
            @apply opacity-20;
        }
    
    }
}
// FIN VISTA DE PRODUCTOS
// VISTA DE PRODUCTO INDIVIDUAL
#product-view{
    .product_menu{
        @apply shadow-md bg-white transition-transform duration-300 p-2 flex-col items-center sm:flex-row sm:justify-between gap-6 fixed top-0 left-0 w-full z-10 ;
        transition: top 0.3s, transform 0.3s;
        .product_menu_header{
            @apply flex gap-4 items-center;
            h2{
                @apply text-lg;
            }
            img{
                @apply max-w-24 w-full h-full aspect-square border-2 rounded-full shadow-xl;
            }
        }
        .contact-icons{
            @apply w-full sm:w-auto;
            span, p{
                @apply sm:hidden lg:block;
            }
            svg{
                @apply fill-gray_500 border rounded-lg bg-gray_50 w-10 h-10 p-2 drop-shadow-sm;
            }
        }
    }
    .product-view-hero{
        @apply flex items-center justify-center h-96 bg-gray_200 relative;
        .splide__track{
            @apply h-full;
        }
        img{
            @apply w-full h-full aspect-square object-cover;
        }
        .bg-layer{
            @apply absolute inset-0 pointer-events-none bg-gray_50 opacity-50;
        }
    }
    .product{
        @apply relative;
        .product_header{
            @apply flex relative flex-col lg:flex-row lg:flex-wrap gap-4 items-center lg:items-end gap-8 transition-all duration-300 ;
            h2{
                @apply text-center lg:text-left;
            }
            img{
                @apply relative -translate-y-1/2 max-w-36 aspect-square rounded-full;
            }
            .product_header_texts{
                @apply relative -translate-y-20 flex flex-col items-center lg:items-start gap-2;
            }
            .contact-icons{
                @apply w-full sm:w-auto relative -translate-y-16;
                div{
                    svg{
                        @apply fill-gray_500 border rounded-lg bg-gray_50 w-12 h-12 p-2 drop-shadow-sm;
                    }
                }
            }
        }
        .product_content{
            @apply flex flex-col lg:flex-row-reverse lg:gap-16;
            .product_content_description{
                @apply w-full lg:w-3/4;
            }
        }
    }
}
// FIN VISTA DE PRODUCTO INDIVIDUAL