// VISTA DE LISTADO DE PRODUCTOS
.product-index{
    @apply my-12 md:my-20;
    .product_index_hero{
        @apply flex justify-center py-12 lg:py-6;
        h2{
            @apply text-center
        }
    }
    .filter_categories{
        @apply flex flex-col gap-2 lg:gap-4 text-text_small lg:text-xs ;
        ul{
            @apply flex flex-col gap-2 lg:pr-8;
            li{
                @apply uppercase text-text_small tracking-wide text-gray_600 border-b pb-2;
            }
            li.active{
                @apply text-primary;
            }
            li:last-child{
                @apply border-none;
            }
        }
    }
    .filter_tags{
        @apply flex flex-col gap-4 text-text_small lg:text-xs;
        ul{
            @apply flex flex-row flex-wrap gap-2;
            li{
                @apply w-auto;
            }
            li.active{
                @apply font-bold bg-primary text-secondary;
            }
        }
    }
    .filter_categories, .filter_tags{
        @apply mt-4;
    }
    .product-list{
        @apply lg:w-3/4 grid grid-cols-2 lg:grid-cols-4 gap-8 relative;
        img{
            @apply aspect-square object-cover border border-gray_200 rounded-xl;
        }
        .category_badges{
            img{
                @apply border-none rounded-none w-5 h-auto;
            }
        }
    }
    .cursor-pointer {
        cursor: pointer;
      }
      .active {
        @apply font-bold text-primary
      }
      
      /* Spinner */
      .spinner-overlay {
        @apply flex items-center justify-center bg-white/80 h-full w-full left-0 top-0 fixed z-50;
      }
      
      .spinner {
        @apply border-8 border-black/10 rounded-full border-t-primary h-16 w-16;
        animation: spin 1s linear infinite;
      }
      
      @keyframes spin {
        to {
          transform: rotate(360deg);
        }
      }
    
    /* Aplicar opacidad reducida al listado de productos mientras carga */
    .loading-opacity {
        @apply opacity-20;
    }
}
// FIN VISTA DE PRODUCTOS
// VISTA DE PRODUCTO INDIVIDUAL
#product-view{
    .product_menu{
        @apply w-full shadow-md bg-white transition-transform duration-300 px-2 md:px-4 py-2 fixed z-10 flex justify-between;
        transition: top 0.3s, transform 0.3s;
        h2{
            @apply text-lg;
        }
        img{
            @apply max-w-16 w-full h-full aspect-square border-2 rounded-full shadow-xl;
        }
        .open, .closed{
            @apply absolute top-0 -right-4 bg-transparent;
            svg{
                @apply w-4;
            }
            span, p{
                @apply hidden;
            }
        }
        .contact-icons{
            @apply flex justify-end items-center gap-2 md:gap-5;
            span, p{
                @apply sm:hidden lg:block;
            }
            svg{
                @apply fill-gray_500 border rounded-lg bg-gray_50 p-1 drop-shadow-sm
                w-7 h-7 md:w-10 md:h-10;
            }
        }
    }
    .product{
        @apply relative flex flex-col gap-4;
        .product_header, .product_short_description, .product_tags, .product_opening_hours, .product_description, .product_map, .product_gallery, .product_rating, .product_rrss{
            @apply shadow-product_view p-4 rounded-xl;
        }
        .product_header{
            @apply flex relative flex-col md:flex-row flex-wrap gap-8 items-center transition-all duration-300 p-8;
            h2{
                @apply text-center lg:text-left;
            }
            img{
                @apply relative max-w-36 aspect-square rounded-full shadow-product_view;
            }
            .product_header_texts{
                @apply relative flex flex-col items-center md:items-start lg:items-start gap-2 md:gap-4;
            }
            .contact-icons{
                @apply sm:w-auto flex justify-center gap-12;
                div{
                    svg{
                        @apply fill-gray_700 w-6 h-6 drop-shadow-sm;
                    }
                }
            }
        }
        .product_gallery{
            @apply flex flex-col gap-4 ;
            img{
                @apply aspect-square object-cover max-h-48 mx-auto;
            }
            #product_lightbox{
                img{
                    @apply max-h-full;
                }
            }

        }
        .lightbox {
            @apply fixed top-0 left-0 w-full h-full bg-black/80 flex justify-center items-center;
            z-index: 1000;
        }
        .product_body{
            @apply relative flex flex-col gap-4 mb-12;
            h5{
                @apply text-sm font-bold;
            }
            .product_tags{
                @apply flex flex-col gap-4;
                .tags{
                    @apply flex flex-wrap gap-2;  
                }
            }
            .product_opening_hours{
                @apply flex flex-col gap-4;
                .product_opening_hours_content{
                    @apply flex justify-around items-center;
                    .open, .closed{
                        @apply bg-transparent px-0;
                        svg{
                            @apply w-4;
                        }
                        span, p{
                            @apply hidden;
                        }
                    }
                }
            }
            .product_map{
                @apply w-full flex flex-col gap-4;
                iframe{
                    @apply w-full rounded-xl;
                }
            }
            .product_rating{
                @apply flex flex-col gap-4;
                .product_rating_content{
                    @apply flex justify-around items-center;
                    svg{
                        @apply w-4;
                    }
                }
            }
            .product_rrss{
                @apply flex flex-col gap-4;
                .product-social-icons{
                    @apply flex gap-4;
                }
            }
        }
    }
}
// FIN VISTA DE PRODUCTO INDIVIDUAL