#ultimos_anunciantes{
    .ultimos_anunciantes_title{
        @apply text-center;
    }
    .ultimos_anunciantes_card{
        @apply w-full mx-auto;
        ul{
            li{
                @apply flex flex-col justify-center mb-4;
                a{
                    @apply flex items-center gap-2 py-2 px-4 rounded-xl bg-white shadow-lg h-full;
                }
                img{
                    @apply rounded-full object-cover
                    aspect-square max-w-16 border border-gray_200;
                }
                .ultimos_anunciantes_card_content{
                    @apply flex flex-col flex-1 px-2 py-4 justify-between;
                    .header{
                        @apply flex flex-col gap-1;
                        h5{
                            @apply  overflow-hidden line-clamp-2;
                        }
                        h6{
                            
                        }
                        p{
                            @apply text-gray_400 text-xs font-medium;
                        }
                    }
                }
            }
        }
    }
}