@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* Fonts */

$body-font: "Inter", sans-serif;

a{
    @apply hover:text-primary;
}
.logo svg{
    @apply transition-all fill-gray_50
    sm:h-10 w-auto;
}
.logo #signo{
    @apply fill-primary;
}
// nav{
//     .logo{
//         @apply bg-primary p-2;
//     }
// }
.logo-hamburguer{
    svg{
        @apply w-36 h-auto fill-black dark:fill-white;
    }
}
.toast{
    @apply flex flex-col items-center justify-between bg-white text-black dark:bg-black dark:text-white;
    .progress{
        @apply bg-black dark:bg-white;
    }
}
header{
    @apply h-auto fixed top-0 w-full block shadow-none bg-secondary text-black dark:text-white;
    transition: top 0.3s, background-color 0.3s ease;
    i {
        @apply leading-none text-lg;
        }
    .indicator {
        top: 50%;
        transform: translateY(-50%);
        transition: transform 0.3s ease; /* Agregar transición para el cambio de posición */
    }
    .dark .indicator {
        transform: translateX(1.75rem) translateY(-50%); /* Mover el indicador al lado derecho en el modo oscuro */
    }
}
.mobile-menu{
    @apply bg-secondary text-gray_400;
    .mobile-menu-inner{
        @apply py-20 px-16 gap-20;
        ul{
            @apply gap-8 w-full text-left items-start;
            li a{
                @apply text-2xl;
                svg{
                    @apply w-6 h-6;
                }
            }
        }
        .logo{
            @apply justify-start w-full;
            svg{
                @apply fill-gray_200 w-64 h-auto;
            }
        }
        .divider{
            @apply border-t-gray_500;
        }
        .social-icons{
            @apply gap-12 justify-center;
            svg{
                @apply w-6 h-6 fill-gray_400 m-2;
            }
        }
    }
}
header, .mobile-menu{
    .dropdown{
        @apply absolute z-10 w-full text-center;
        li{
            @apply bg-gray-100 dark:bg-neutral-900 dark:hover:bg-neutral-800 w-full;
            a{
                @apply pt-0 pb-0 hover:bg-gray-200 dark:hover:bg-neutral-800;
            }
        }
        li:hover{
            @apply bg-gray-200;
            a{
                @apply text-primary;
            }
        }
    }
    .cart-widget{
        @apply text-white mx-2 md:mx-0;
    }
    .flag-icon{
        @apply w-4 mr-[0.5rem];
    }
}
// Function to show header according to scroll view

// End Function to show header according to scroll view
// Hamburguer Menu icon
.openbtn {
    @apply w-[24px] h-[20px] relative rounded cursor-pointer;
    }

    .openbtn .openbtn-area{
        @apply h-full relative flex flex-col justify-around;
        transition: all .4s;
    }

    .openbtn span {
        @apply h-[3px] relative bg-gray_50 dark:bg-white rounded inline ;
        transition: all .4s;
    }

    .openbtn.active .openbtn-area {
        transform: rotateY(-360deg);
    }

    .openbtn.active span{
        &:nth-of-type(1) {
            left: 0;
            top: -4px;
            transform: translateY(11px) rotate(-135deg);
            width: 100%;
        }
        &:nth-of-type(2) {
            opacity: 0;
        }
        &:nth-of-type(3) {
            left: 0;
            top: 4px;
            transform: translateY(-11px) rotate(135deg);
            width: 100%;
        }
    }
// Contenedor gral
.container{
    @apply w-full max-w-screen-lg mx-auto px-4;
    
}
// línea divisoria
.divider{ 
    @apply border-t-gray_300;
}
// Social icons
.social-icons a{
    @apply aspect-square rounded-md flex justify-center items-center ring-1 text-black/70 bg-black/5 ring-black/20 hover:bg-primary hover:text-white hover:ring-primary transition-all dark:text-white/50 dark:bg-white/5 dark:ring-white/20 dark:hover:bg-primary dark:hover:text-white dark:hover:ring-primary;
}

// Breadcrumbs
.breadcrumbs{
    @apply py-2 lg:py-4 bg-gray_100 mt-12 md:mt-14 block w-full overflow-x-auto scroll-smooth;
    >div{
        @apply w-auto;
    }
    p{
        @apply text-gray_400 text-small hover:text-primary;
    }
}
.contact-icons{
    @apply flex flex-col 
    lg:flex-wrap lg:gap-x-8;
    .contacto{
        @apply flex flex-row items-center gap-8 justify-between;
        svg{
            @apply fill-secondary/70 border rounded-lg bg-primary/15 p-1 drop-shadow-sm
        w-10 h-10;
        }
    }
}
// Contador de Categorías
.remaining-count{
    @apply absolute -top-2 -right-2 md:-right-4 text-text_small font-bold text-lime-800 py-1 px-2 bg-lime-100 rounded-full;
}