@use '../globals/variables' as *;

.btn{
    @apply flex gap-2 items-center justify-center font-medium capitalize text-white font-sans leading-none min-h-8
    rounded-md sm:rounded-lg
    text-xs sm:text-sm md:text-base
    px-4 py-2;
    svg{
        @apply h-auto
        w-4
        sm:w-5
        md:w-6;
    }
}
.btn-primary{
    @apply bg-primary hover:bg-primary_hover;
    svg{
        @apply fill-gray_50;
    }
}

.btn-secondary{
    @apply border border-secondary/20 text-secondary hover:bg-gray_100;
}

.btn-urgencies{
    @apply bg-urgencies 
    hover:bg-urgencies_hover
    hover:text-white;
}

.btn-products_list{
    @apply text-xs;
}