footer{
    @apply w-full bg-primary text-white;
    svg{
        @apply fill-white;
    }
    .footer{
        @apply flex flex-col gap-8 py-12;
        .identity{
            @apply flex justify-between items-center
            md:border-b md:border-gray_300
            md:pb-8;
            .footer-logo svg{
                @apply w-auto
                h-8 sm:h-10 md:h-12;
            }
            .social-icons{
                @apply p-2.5;
                svg{
                    @apply w-auto
                    h-4 sm:h-6;
                }
                a{
                    @apply aspect-square rounded-md flex justify-center items-center p-2 ring-transparent;
                }
                a:hover{
                    @apply bg-secondary;
                    svg{
                        @apply fill-primary;
                    }
                }
            }
        }
        .footer-menu{
            ul{
                @apply w-full flex md:gap-12 font-semibold
                flex-col md:flex-row;
                li{
                    @apply flex flex-col justify-between md:justify-start gap-4
                    py-4 md:py-0
                    border-b border-gray_300 md:border-none
                    md:w-1/3 lg:w-full;
                    svg{
                        @apply md:hidden;
                    }
                    .footer-sub-menu{
                        @apply flex flex-col gap-2;
                        li{
                            @apply py-0 text-gray_100 border-none
                            md:w-full;
                            p{
                                @apply text-sm font-light ;
                            }
                        }
                    }
                }
                li:first-of-type{
                    @apply border-t border-gray_300;
                }
            }
        }
        .footer-subscription{
            @apply flex flex-col gap-4 font-semibold;
            .form{
                @apply w-full flex gap-4
                flex-col sm:flex-row md:flex-col
                sm:justify-between;
                input{
                    @apply sm:h-full border-gray_300 text-gray_100;
                }
                input::placeholder{
                    @apply text-gray_200;
                }
                .btn{
                    @apply w-auto md:w-fit;
                }
                svg{
                    @apply w-4 fill-gray_200;
                }
            }
        }
        .need_help{
            ul{
                @apply m-auto flex gap-4 justify-center
                w-auto sm:w-1/2 md:w-fit;
            }
        }
    }
    a:hover{
        @apply text-secondary;
        svg{
            @apply fill-secondary;
        }
    }
    .post_footer{
        @apply flex m-auto text-center text-gray_100 py-3 border-t border-gray_300
        flex-col sm:flex-row
        sm:justify-between;
        a{
            @apply text-gray_200 hover:text-gray_100;
        }
    }
}